<form id="file-delete" class="form form-inline">
  <fieldset>
    <legend>File Delete</legend>
    <div class="form-group">
      <label for="file-delete-id" class="sr-only">File ID</label>
      <!-- <div class="input-group"> -->
        <input type="text" class="form-control" name="file[id]" id="file-delete-id" placeholder="ID" value="">
      <!-- </div> -->
    </div>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span> Delete</button>

  </fieldset>
</form>
