<form id="multipart-form-data" enctype="multipart/form-data" class="form form-inline">
  <fieldset>
    <legend>File Upload</legend>
    <p>enctype="multipart/form-data"</p>
    <div class="form-group">
      <label for="file-upload-title" class="sr-only">Title</label>
        <input type="text" class="form-control" name="name" id="file-upload-title" placeholder="Title" value="">
    </div>
    <div class="form-group">
      <label class="btn btn-primary" for="file-upload-select">
        <input id="file-upload-select"
          type="file"
          name="name"
          style="display:none;">
        Choose File
      </label>
    </div>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</button>

    <span id="upload-file-info"></span>

  </fieldset>
</form>

<!-- <form id="multipart-form-data" enctype="multipart/form-data">
  <fieldset>
    <legend>enctype="multipart/form-data"</legend>
    <label>
      Title
      <input type="text" name="image[title]" id="file-upload-title">
    </label>
    <label>
      Image
      <input type="file" name="image[file]" id="file-upload-file">
    </label>
    <input type="submit" name="submit" value="Upload">
  </fieldset>
</form> -->

<!-- <form id="multipart-form-data" enctype="multipart/form-data">
  <fieldset>
    <legend>enctype="multipart/form-data"</legend>
    <label>
      Title
      <input type="text" name="name">
    </label>
    <label>
      Image
      <input type="file" name="path">
    </label>
    <input type="submit" name="submit" value="Upload">
  </fieldset>
</form> -->
