<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" style="overflow:hidden">
    <span class="file-item file-name col-sm-1">
      <span class="glyphicon glyphicon-th-list"></span>
    </span>
    <span class="file-item file-name col-sm-7">
      <strong></strong>
    </span>
    <span class="file-item file-date col-sm-2">
      <strong>Created</strong>
    </span>
    <span class="file-item file-date col-sm-2">
      <strong>Modified</strong>
    </span>
  </div>
  <!-- <div class="panel-body">
    <p>...</p>
  </div> -->
  <!-- List group -->
  <div class="list-group">
    <a href="#" class="list-group-item" style="overflow:hidden">
      <span class="file-icon col-sm-1 glyphicon glyphicon-folder-open"></span>
      <span class="file-name col-sm-7">Folder Name</span>
      <span class="file-date col-sm-2">05-20-2017</span>
      <span class="file-date col-sm-2">05-20-2017</span>
    </a>
    <a href="#" class="list-group-item" style="overflow:hidden">
      <span class="file-icon col-sm-1 glyphicon glyphicon-file"></span>
      <span class="file-name col-sm-7">Folder Name</span>
      <span class="file-date col-sm-2">05-20-2017</span>
      <span class="file-date col-sm-2">05-20-2017</span>
    </a>
    <a href="#" class="list-group-item" style="overflow:hidden">
      <span class="file-icon col-sm-1 glyphicon glyphicon-file"></span>
      <span class="file-name col-sm-7">Folder Name</span>
      <span class="file-date col-sm-2">05-20-2017</span>
      <span class="file-date col-sm-2">05-20-2017</span>
    </a>
  </div>
</div>
