<div class="row">
  <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#sign-in-tab">Sign In</a></li>
      <li><a data-toggle="tab" href="#sign-up-tab">Sign Up</a></li>
    </ul>
    <div class="tab-content">
      <div id="sign-in-tab" class="tab-pane in active">
        <!-- layout for sign in panel -->
        <div class="panel panel-default">
          <div class="panel-body">
            <!-- POST	/sign-in	users#signin -->
            <form id="sign-in" class="form">
              <fieldset>
                <legend>Sign In</legend>
                <div class="form-group">
                  <label for="sign-in-email" class="sr-only">Email</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" class="form-control" name="credentials[email]" id="sign-in-email" placeholder="Email Address" value="">
                  </div>
                  <p class="help-block">Please enter an email address.</p>
                </div>
                <div class="form-group">
                  <label for="sign-in-password" class="sr-only">Password</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="credentials[password]" id="sign-in-password" placeholder="Password" value="">
                  </div>
                  <p class="help-block">Please enter a valid password.</p>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Sign In</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div id="sign-up-tab" class="tab-pane">
        <!-- layout for sign up panel -->
        <div class="panel panel-default">
          <div class="panel-body">
            <!-- POST	/sign-up	users#signup -->
            <form id="sign-up" class="form">
              <fieldset>
                <legend>Sign Up</legend>
                <div class="form-group">
                  <label for="sign-up-email" class="sr-only">Email</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" class="form-control" name="credentials[email]" id="sign-up-email" placeholder="Email Address" value="">
                  </div>
                  <p class="help-block">Please enter an email address.</p>
                </div>
                <div class="form-group">
                  <label for="sign-up-password" class="sr-only">Password</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="credentials[password]" id="sign-up-password" placeholder="Password" value="">
                  </div>
                  <p class="help-block">Please enter a password.</p>
                </div>
                <div class="form-group">
                  <label for="sign-up-password-confirm" class="sr-only">Confirm</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
                    <input type="password" class="form-control" name="credentials[password_confirmation]" id="sign-up-password-confirm" placeholder="Confirm Password" value="">
                  </div>
                  <p class="help-block">Please enter matching passwords.</p>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Sign Up</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
