<!-- PATCH	/change-password/:id	users#changepw -->
<form id="change-password" class="form">
  <div class="form-group">
    <label for="change-password-old" class="sr-only">Old Password</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password" class="form-control" name="passwords[old]" id="change-password-old" placeholder="Current Password" value="">
    </div>
    <p class="help-block">Please enter your current password.</p>
  </div>
  <div class="form-group">
    <label for="change-password-new" class="sr-only">New Password</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
      <input type="password" class="form-control" name="passwords[new]" id="change-password-new" placeholder="New Password" value="">
    </div>
    <p class="help-block">Please enter your new password.</p>
  </div>
  <div class="form-group">
    <label for="change-password-confirm" class="sr-only">Confirm Password</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
      <input type="password" class="form-control" name="passwords[password_confirmation]" id="change-password-confirm" placeholder="Confirm Password" value="">
    </div>
    <p class="help-block">Confirmation must match new password.</p>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-log-in"></span> Submit</button>
  </div>
</form>
