<div id="upload-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">File Upload</h4>
      </div>
      <div class="modal-body">
        <form id="multipart-form-data" enctype="multipart/form-data">
          <fieldset>
            <legend>enctype="multipart/form-data"</legend>
            <label>
              Title
              <input type="text" name="image[title]">
            </label>
            <label>
              Image
              <input type="file" name="image[file]">
            </label>
            <input type="submit" name="submit" value="Upload">
          </fieldset>
        </form>
        <!-- <form id="multipart-form-data" enctype="multipart/form-data" class="form form-inline">

          <fieldset>

            <div class="form-group">
              <label for="file-upload-title" class="sr-only">Title</label>
              <input type="text" class="form-control" name="file[title]" id="file-upload-title" placeholder="Title" value="">
            </div>

            <div class="form-group">
              <label class="btn btn-primary" for="file-selector">
                <input class="form-control" id="file-selector" type="file" style="display:none;" name="file[file]">
                Choose File
              </label>
            </div>

            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</button>

          </fieldset>
        </form> -->
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete-modal-confirm"><span class="glyphicon glyphicon-trash"></span> Delete</button> -->
      </div>
      </form>
    </div>
  </div>
</div>
