<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand">FileBucket</span>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" type="button" class="btn btn-link" id="show-upload-button"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
      </li>
      <li class="dropdown">
        <a href="#" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" id="change-password-nav"><span class="glyphicon glyphicon-user"></span> Change Password <span class="caret"></span></a>
        <div id="change-password-dropdown" class="dropdown-menu">
            {{> form-change-password}}
        </div>
      </li>
      <li>
        <a href="#" type="button" class="btn btn-link" id="sign-out-btn"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a>
      </li>
    </ul>
  </div>
</div>
