<h4>Filename</h4>
<p>File Info</p>
<p>More File Info</p>
<button class="btn btn-link edit-item-link"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
<button class="btn btn-link pull-right delete-item-link"><span class="glyphicon glyphicon-trash"></span> Delete</button>
